:root{
  --activeColor: #76cf9f;
  --hoverColor: #04AA6D;
  --idleColor: #d1d1d1;
  --idleColorLite: #f1f1f1;
}

body {
  font-family: sans-serif;
}

fieldset {
  margin: 20px;
  padding: 0 10px 10px;
  border: 1px solid #666;
  border-radius: 8px;
  padding-top: 10px;
  width: 90%;
}

legend {
  padding-left: 10px;
  padding-right: 10px;
}

input[type='number'], input[type='text']{
  text-align: center;
  width: 50%; 
  min-width: 100px;
}

#selectionWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2em;
}

.selectType {
  min-width: 10%;
}

#selectionDIV {
  display: inline-block;
}

.inputGridWideMarginL {
  grid-column: 1/3;
}

.inputGridWideMarginR {
  grid-column: 5/7;
}

.inputGridMediumCenter {
  grid-column: 3/5;
}

.inputGridWideCenter {
  grid-column: 2/6;
  margin-block-end: 5%;
}


.inputHeaderL, .inputHeaderR, .inputHeaderC {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--idleColor);
  text-align: center;
  font-weight: bold;
  padding: 0.5em 0;
}

.inputHeaderL, .inputHeaderC {
  border-top-left-radius: 5px;
}


.inputHeaderR, .inputHeaderC {
  border-top-right-radius: 5px;
}

.inputGridWrapper, .inputGridWrapperHeader {
	display: none;
	width: 100%;
	grid-template-columns: 1fr repeat(4, 5fr) 1fr;
	padding: 1em;
}


.inputGridWrapper > .inputGrid, .inputGridWrapperHeader > .inputGrid {
	text-align: right;
}

.inputGridWrapper > .inputUnitsGrid, .inputGridWrapperHeader > .inputUnitsGrid {
	padding-left: 5%;
	margin: auto 0;
}


.inputGridWrapper .inputSetting, .inputGridWrapperHeader .inputSetting {
	text-align: center;
}

.active {
  display: grid;
}

#conductorInputContainer {
  margin: auto 0;
}

#conductorInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0.25 em;
}

#conductorInput > div {
  margin: 0 12%;
  width: 100%;
  height: 2em;
  /*border: 1px dashed black;*/
}


.conductorGaugeInputElement, .conductorQuantityInputElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2em;
}

.conductorGaugeInputElement > select, .conductorQuantityInputElement > input  {
  width: 100px;
  height: 1.5em;
  text-align: center;
}

.conductorGaugeInputElement:nth-child(even), .conductorQuantityInputElement:nth-child(even) {
  background-color: var(--idleColor);
}

.conductorGaugeInputElement:last-child {
  border-bottom-left-radius: 5px;
}

.conductorQuantityInputElement:last-child {
  border-bottom-right-radius: 5px;
}

#ductCalcButtonsContainer > input[type='submit'], #ductCalcButtonsContainer > input[type='reset'] {
    width: 45%;
}


.formButton {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  }
  
.formButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
  
.formButton:hover {
  background-color: #2c974b;
}

.formButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.formButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.formButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


#wireDuctDisplayWrapper {
  display: none;
  grid-template-columns: 1fr 1fr repeat(9, 1fr);
  grid-template-rows: 1fr 1fr repeat(10, 1fr);
  max-height: 500px;
}

#wireDuctDisplayWrapper #wireDuctTableHeader {
  grid-row: 1/3;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 200px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  margin-right: -2.5px;
  margin-bottom: -2.5px;
  padding-right: 0.25em;
}

#wireDuctDisplayWrapper #ductHeightHeader {
  grid-column: 3/12;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin-top: 2px;
  margin-left: 2px;
}

#wireDuctDisplayWrapper #ductWidthHeader {
  grid-row: 3/12;
  writing-mode: tb-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  border-right: 1px solid black;
  margin-top: 2px;
}


#wireDuctDisplayWrapper > div:not(:first-child){
  min-height: 20px;
}

#wireDuctDisplayWrapper .headerDIVTop, #wireDuctDisplayWrapper .headerDIVSide  {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  text-align: center;
}

#wireDuctDisplayWrapper .headerDIVTop {
  border-right: 1px solid black;
}

#wireDuctDisplayWrapper .headerDIVSide {
  border-bottom: 1px solid black;
}

#wireDuctDisplayContainer{
  grid-column: 3/12;
  grid-row: 3/12;
}
#wireDuctDisplayTable {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}


#wireDuctDisplayTable > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 0.1em;
  text-align: center;
  margin: -.5px;
}

#wireDuctDisplayWrapper .legendWrapper {
  text-align: center;
}

#wireDuctDisplayWrapper .legendDIV {
  height: 1.2em;
  width: 1.2em;
  margin: 0 auto;
  border: 1px solid black;
}

.methodologyWrapper {
  width: 100%;
}

.methodologyDetail {
  width: 80%;
  margin: 0 auto ;
  background: var(--idleColor);
  margin-bottom: .5rem;
  box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  border-radius: 5px;
  overflow: hidden;
}

.methodologyDetail summary {
  padding: 1rem;
  display: block;
  background: var(--idleColor);
  color: white;
  font-weight: bold;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.methodologyDetail summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}


.methodologyDetail[open] summary:before {
  transform: rotate(90deg);
}


summary::-webkit-details-marker {
  display: none;
}

.methodologyDetail .methodologyContainer {
  border-radius: 0px 0px 5px 5px;
  border: 1px solid var(--idleColor);
  background-color: var(--idleColorLite);
  padding-top: 0.5em;
}

.methodologyContainer blockquote {
  width: 75%;
  margin-left: 12.5%;
  padding: 0.75em 2em 0.1em 2em;
  background-color: var(--idleColor);
  font-style: italic;
  border-radius: 5px;
}

.methodologyContainer p {
  vertical-align: center;
  text-indent: 2em;
  padding: 0 5%;
}

.conductorsPropertiesTableWrapper {
  width: 100%;
  margin: 0 35%;
}

.conductorPropertiesTable {
  text-align: center;
  width: 30%;
}

.conductorPropertiesTable tr:first-child th:first-child{
  border-top-left-radius: 5px;
}

.conductorPropertiesTable tr:first-child th:last-child{
  border-top-right-radius: 5px;
}


.conductorPropertiesTable tr:nth-child(odd){
  background-color: var(--idleColor);
}

.conductorPropertiesTable{
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  box-shadow: 0 0 0 1px black;
  padding: 0.1em 0.25em;
}

.conductorPropertiesTable th, .conductorPropertiesTable td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}

.conductorPropertiesTable tr:first-child th{
  padding: 0.5em;
}


/*** Duct Size Selection Drop Down Styles ***/

.dropDownMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 1em 0.5em 1em 0.5em;
  cursor: pointer;
}

.dropDownTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 1.5em;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--activeColor);
  font-weight: bold;
  font-size: 16px;
  padding: 1em 0.5em 1em 0.5em;
}

  /* Primary Drop Down Contents */
.dropDownContent {
  transition: max-height 0.15s ease-out, max-width 0.15 ease-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f1f1f1;
  max-height: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 100%;
  top: 10.25em;
  cursor: pointer;
  z-index: 999;
}

/* Secondary Drop Down Container */
.dropDownSubMenu{
  position: relative;
  min-width: 100%;
}

  /* Sub Menu Drop Down Contents */
.dropDownSubContent {
  transition: max-height 0.15s ease-out, max-width 0.15 ease-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 0px;
  max-width: 0px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 0px;
  left: 100%;
  margin-left: -1px;
  max-width: 0;
  overflow: clip;
}

  /* Primary Drop Down Display & Transition */
.dropDownActiveTop {
  transition: visibility 0.25s, opacity 0.25s ease, max-height 0.75s ease-in;
  visibility: visible;
  opacity: 1;
  max-height: 600px;
  max-width: 25%;
}

  /* When Secondary Drop Down is Displayed, allow Overflow of Primary Container */
.dropDownActiveTop:has(.dropDownActiveSide) {
  overflow: visible;
}

  /* Display & Transition for Secondary Drop Down Menus */
.dropDownActiveSide {
  transition: 0.75s ease ;
  visibility: visible;
  opacity: 1;
  min-width: 100%;
  max-width: 100%;
}

  /* Drop Down Menu Button Display */
.dropDownContent button {
  height: 2.0em;
  width: 100%;
  min-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.dropDownContent .dropDownSubMenu:not(:first-child), .dropDownSubContent button:not(:first-child) {
  margin-top: -1px;
}

  /* Alternating Drop Down Menu Button Colors */
.dropDownSubMenu:nth-of-type(odd) button, .dropDownSubMenu:nth-of-type(odd) .dropDownSubContent button:nth-child(even), .dropDownSubMenu:nth-of-type(even) .dropDownSubContent button:nth-child(odd) {
  background-color: var(--idleColor);
}

  /* Alternating Drop Down Menu Button Colors */
.dropDownSubMenu:nth-of-type(even) button, .dropDownSubContent button:nth-child(odd), .dropDownSubMenu:nth-of-type(odd) .dropDownSubContent button:nth-child(odd), .dropDownSubMenu:nth-of-type(even) .dropDownSubContent button:nth-child(even) {
  background-color: var(--idleColorLite);
}

  /* On Hover, Highlight Button */
button:hover, .buttonActive > button {
  background-color: var(--hoverColor) !important;
  font-weight: bold;
}

.dropDownSubMenu:first-of-type > button, .dropDownSubContent button:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropDownSubMenu:last-of-type > button, .dropDownSubContent button:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Bubble Style */
.bubbleRight {
	position: relative;
	background: var(--activeColor);
	border: 7px solid black;
  min-height: 2em;
  max-width:250px;
  padding:10px;
  margin:0 auto;
  font: bold 16px Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight: bold;
  border-radius:7px;    
  bottom: 50%;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubbleRight:after, .bubbleRight:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubbleRight:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: var(--activeColor);
	border-width: 7px;
	margin-top: -7px;
}
.bubbleRight:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color: black;
	border-width: 15px;
	margin-top: -15px;
}

.bubbleHide {
  transition: 1s ease;
  visibility: 0;
  opacity: 0;
}

#conductorCountDisplayContainer{
  grid-column: 3/5;
}

#conductorCountHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2em;
  padding: 0.2em;
}

#conductorCountTable {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(15, 1fr);
  z-index: 1;
}

#conductorCountTable > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 0.2em;
}

#conductorCountTable > div:nth-child(-n + 2) {
  border: 2px solid black;
  font-weight: bold;
  background-color: var(--idleColor);
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

#conductorCountTable > div:nth-child(n + 3) {
  padding-top: 0.5em;
  min-height: 1em;
  max-height: 2em;
  margin-top: -1px;
}

#conductorCountTable > div:nth-child(odd) {
  margin-left: -1px
}

#conductorCountTable > div:nth-child(4n-2),   #conductorCountTable > div:nth-child(4n-3) {
  background-color: var(--idleColor);
}

  /* Bottom-most Row, Left Column */
#conductorCountTable > div:nth-last-child(2) {
  border-bottom-left-radius: 5px;
}

  /* Bottom-most Row, Right Column */
#conductorCountTable > div:last-child {
  border-bottom-right-radius: 5px;
}